* {
  font-family: "DejaVuSansM Nerd Font", monospace;
  font-size: 18px;
  color: white;
}

window#waybar {
  background: transparent;
}

#workspaces button {
  border-radius: 0;
}

#workspaces button.active {
  background: rgba(255,255,255,0.2);
}

#pulseaudio,
#network,
#battery,
#clock {
  margin: 0 10px;
}

#network {
  background: transparent;
}

#workspaces button.focus {
}
