* {
  font-family: "DejaVuSansM Nerd Font", monospace;
  font-size: 16px;
  color: white;
}

window#waybar {
  background: transparent;
}

#workspaces button {
  border-radius: 0;
}

#workspaces button.active {
  background: rgba(255,255,255,0.2);
}

label {
  margin: 0 15px;
}

tooltip label {
  font-size: 14px;
}

