@define-color foreground #dcd7ba;
@define-color background #1f1f28;

* {
  font-family: "DejaVuSansM Nerd Font", monospace;
  font-size: 16px;
  color: white;
  background-color: @background;
  color: @foreground;
}

window#waybar {
  background: transparent;
}

#workspaces button {
  border-radius: 0;
}

#workspaces button.active {
  border-bottom: 3px solid @foreground;
}

label {
  margin: 0 15px;
}

tooltip label {
  font-size: 14px;
}

